<!DOCTYPE html>
<html>
<head>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <title>Supplierx</title>
  <%= stylesheet_link_tag    "supplierx/application", :media => "all" %>
  <%= javascript_include_tag "supplierx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
